#signup {
    user-select: none;
    height: 100vh;
    margin-top: 200px;
}

#signup h2 { 
    text-align:  center;
    color: green
}
#signup .btn-success { 
    color: white;
    font-size: large;
}

#signup p {
    text-align: center;
}

#signup .loginbtn {
    font-size: large;
    color: white;
    
}

#signup span {
display: block;
text-align: center;
margin-bottom: 10px;



}

